@font-face {
    font-family: "Irvin-Heading";
    src: url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.eot");
    src: url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/1e44faec07b8b81f60a3215d76bd0086.svg#Irvin-Heading")format("svg");
}

@font-face {
    font-family: "TNYAdobeCaslonPro";
    src: url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.eot");
    src: url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/68e94a17c3e618dbe0936fcbf25b26c6.svg#TNY Adobe Caslon Pro Regular")format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #FFFFFF;
    font-family: TNYAdobeCaslonPro, Times New Roman, Times, serif;
}
.roadmap {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    color: #444444;
    font-size: 0.7em;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

.navbar {
    border-bottom: solid 1px #444444;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: #444444;
}
.navbar a {
    text-transform: uppercase;
}
