@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Playfair Display', 'Times New Roman', serif;
    background-color: #EEECE6;
    color: #444444;
    font-size: 0.7em;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

.navbar {
    border-bottom: solid 1px #444444;
}

a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
    color: #444444;
}
.navbar a {
    text-transform: uppercase;
}
